@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400..700&display=swap');

body {
    font-family: "Spline Sans", sans-serif;
    color: #777;
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color: #222;
}

a {
    color: #222;
    text-decoration: none;
    transition: all 0.4s;
}

a:hover {
    color: #f58d17;
}

img {
    width: 100%;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.shadow-on-hover {
    transition: all 0.3s;
}

.shadow-on-hover:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/* Btn */
.btn {
    border-radius: 0;
    padding: 14px 38px;
}

.btn-brand {
    color: #fff;
    font-weight: 500;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,223,72,1) 0%, rgba(0,212,255,1) 100%);
}


.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

/* Slider */
.slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/slider.jpg);
}

.slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/slider2.jpg);
}

#carouselExample h6::after,
#carouselExample h6::before {
    content: " ";
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}
.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.6);
    width: 40px;
    height: 70px;
    margin: auto;
}

